<h1 align=center>Ashleigh RM Anderson</h1>
<h3 align=center>Senior</h3>
<h4 align=center>Computer Information Systems</h4>
<h2> About Me:</h2>
<p>Hello there! I am 23 year old San Diegan native completing her undergraduate degree in Washington, DC. I have been living in the city now for almost six years, and feel bittersweet that my time here may be coming to an end. I am anticipating graduation in May of this year. Who knows where I'll be in this time next year!</p>
<p2>In addition to school, I am currently employed as a contracted consultant for Teranova Consulting Group. I have enjoyed working in the mobile solutions industry for the last 3 years and am considering sticking with it. But in this field, opportunities are endless and it will be challenging to take on a new industry! I am also interested in the following:</p2>


<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    padding: 10px;
    text-align: center;    
}
}
td {
    padding: 5px;
    text-align: left;    
}
</style>
</head>

<body>

<h2>Dream Jobs:</h2>
<table style="width:80%">
  <tr>
    <th>Company Name</th>
    <th>Location</th>
    <th>Industry</th>
  </tr>
  <tr>
    <td>Teranova Consulting Group</td>
    <td>Remote/San Diego, CA</td>
    <td>Mobility Solutions</td>
  </tr>
 <tr>
    <td>Visage</td>
    <td>Pleasanton,CA</td>
    <td>Mobility Governance</td>
  </tr>

<tr>
    <td>IBM</td>
    <td>Metro DC</td>
    <td>Consulting</td>
  </tr>
</table>

</body>

<br>
<h2>I've earned my education at the following schools:</h2>
<ol type="1">
 <li>Murray Manor Elementary-La Mesa, CA</li>
 <li>Parkway Middle School- La Mesa, CA</li>
 <li>Helix Charter High School- La Mesa, CA</li>
 <li>Howard University- Washington, DC</li>
</ol>  
